*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
	  }

body{
  font-family: 'Open Sans', sans-serif;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
}
/*---------------------------------------
--------SOCIAL NETWORKS-----------------
------------------------------------------*/
.sociales{	
  background: #262a33;
  border-bottom: 1px solid black;	
  height: 30px;
}
.sociales ul{
	display: flex;
	justify-content: flex-end;
}

.sociales li{
	margin-top: 3px;
	list-style: none;
}

.sociales a{
	text-decoration: none;
	margin-right: 20px;
	color: #fff;
}
/*---------------------------------------
--------ESTILOS PARA EL NAV-BAR-----------
------------------------------------------*/
.navigation{
	width: 100%;
}

.nav-bar{
	background: #85c458;
	display: flex;
}

.brand{
   color: #fff;
}

.container-nav{
	display: flex;
}

.container-nav li{
	display: inline-block;
	list-style: none;
	margin-right: 40px;
	margin-top: 15px;
	background: #85c458;
}

.container-nav a{
	color: #fff;
	font-size: 1.2em;	
}
/*---------------------------------------
--------ESTILOS PARA PRESENTACION-----------
------------------------------------------*/
.imagen-presentacion{
	background-image: url('../img/1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	height: 600px;;
	position: relative;
	z-index: 2;
}

.info-presentacion{	
  margin-top: 150px;
	position: absolute;
	z-index: 10;  
}

.info{
    
}

.info-presentacion h2 {
	color: #fff;
	padding: 10px;
	margin: 5px;
	font-size: 2em;
	font-weight: 700;
}
.info-presentacion h4 {
	color: #fff;
	padding: 10px;
	margin: 5px;
	background: #262a33;	
	text-align: center;
}

/*---------------------------------------
--------ESTILOS PARA WELCOME--------------
------------------------------------------*/

.welcome-line{
	box-shadow: 2px 2px 10px #666;
}

.welcome{
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
}

.welcome img{
	width: 400px;
	height: 250px;
	border-radius: 50%;
}

article h4 ul {
	margin-top: 50px;
}

article h4{
	margin-bottom: 25px;
}

.article-image img{
	width: 250px;
	height: 250px;
}

/*---------------------------------------
--------ESTILOS PARA PLATOS--------------*/
.platos{
	margin-bottom: 25px;
	width: 90%;
	margin: 0 auto;
}

.platos h2{
	margin-top: 25px;
	margin-bottom: 25px;
  text-align: center;
}

.card{
	box-sizing: border-box;
}
.card img{
	display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 200px;
}

/*---------------------------------------
--------ESTILOS PARA tips--------------
------------------------------------------*/


.Tips {
	width: 80%;
	margin: 0 auto;
	margin-top: 40px;
}

.Tips h2{
	text-align: center;
	margin-bottom: 25px;
}

.Tips img {
	width: 400px;
	height: 200px;;
	margin-bottom: 25px;
}

/*---------------------------------------
--------ESTILOS PARA CARRUSEL--------------
------------------------------------------*/

.carrusel {
	overflow: hidden;
	margin-top: 25px;
	margin-bottom: 25px;
	margin: 0 auto;
	width: 92%;
	height: 300px;
}

/*---------------------------------------
--------ESTILOS PARA HEALThY-FOOD--------------
------------------------------------------*/
.container-eat-smart{ 
	width: 90%;
	margin: 0 auto;
	margin-bottom: 25px;

}
.container-eat-smart h3{ 
	text-align: center;
}

.eat-smart{
	margin-top: 50px;
}

.banner{
	background: url("../img/banner.jpg");
	background: cover;
}

.banner h3{
	text-align: center;
}

/*---------------------------------------
--------ESTILOS PARA CONTACT--------------
------------------------------------------*/

.eat-smart{
	margin-bottom: 25px;
}

/*---------------------------------------
--------ESTILOS PARA CONTACT--------------
------------------------------------------*/
.contact{
	background: #43A047;
}
  
.container-contact {
	 
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	position: relative;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
	font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }
  
  #contact {
	background: #F9F9F9;
	padding: 25px;
	margin: 150px 0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #contact h3 {
	display: block;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
  }
  
  #contact h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 13px;
	font-weight: 400;
  }
  
  fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
	width: 100%;
	border: 1px solid #ccc;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #aaa;
  }
  
  #contact textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
  }
  
  #contact button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background: #4CAF50;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
  }
  
  #contact button[type="submit"]:hover {
	background: #43A047;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .copyright {
	text-align: center;
  }
  
  #contact input:focus,
  #contact textarea:focus {
	outline: 0;
	border: 1px solid #aaa;
  }
  
  ::-webkit-input-placeholder {
	color: #888;
  }
  
  :-moz-placeholder {
	color: #888;
  }
  
  ::-moz-placeholder {
	color: #888;
  }
  
  :-ms-input-placeholder {
	color: #888;
  }