@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 1.6em;
  background-color: #eff3f6;
}

.sociales {
  background: #262a33;
  height: 35px;
}

.sociales ul {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 700px) {
  .sociales ul {
    display: flex;
    justify-content: center;
  }
}
.sociales ul li {
  margin-top: 3px;
  list-style: none;
}

.sociales ul a {
  text-decoration: none;
  margin-right: 10px;
  color: #fff;
  font-size: 1.2em;
  padding: 10px;
}

.navbar .navbar-nav {
  margin-right: 100px;
  background: #c3d34e;
}

.navbar-nav .nav-item {
  margin-right: 20px;
  font-size: 1.2em;
}

.jumbotron {
  background-image: url('../img/home-bg.jpg');
  background-size: cover;
  max-width: 100%;
  width: 100vw;
  height: 35em;
}

.info {
  width: 100vw;
  height: 30em;
  color: #fff;
}

.info-presentacion {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.info-presentacion h2 {
  font-size: 5em;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
}

.headings {
  display: flex;
  justify-content: space-around;
}

.eat-smart {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c3d34e;
  background-attachment: fixed;
  height: 600px;
}

.eat-smart-heading {
  margin-bottom: 60px;
}

.banner {
  background: url('../img/banner.jpg');
  background: cover;
}

.container-eat-smart {
  width: 90%;
  margin: 0 auto;
}

.container-eat-smart h3 {
  text-align: center;
}

/*---------------------------------------
--------ESTILOS PARA WELCOME--------------
------------------------------------------*/
.welcome-line {
  box-shadow: 1px 1px 10px #666;
  margin-top: 50px;
  margin-bottom: 80px;
}

.welcome {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.welcome img {
  max-width: 100%;
}

.welcome .welcome-paragraph {
  margin-top: 30px;
}

article ul {
  margin-top: 50px;
}

article ul li {
  list-style: inside;
}

article h4 {
  margin-bottom: 25px;
}

/*---------CONTACT FORM -----------*/
.container-contact {
  background: #c3d34e;
}

.contact-form {
  padding: 50px;
  margin: 30px auto;
}

.contact-form h1 {
  font-size: 42px;
  font-family: 'Pacifico', sans-serif;
  margin: 0 0 50px;
  text-align: center;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form .form-control,
.contact-form .btn {
  min-height: 38px;
  border-radius: 2px;
}

.contact-form .form-control {
  border-color: #7ec365;
}

.contact-form .form-control:focus {
  border-color: #d8b012;
  box-shadow: 0 0 8px #7ec365;
}

.contact-form .btn-primary {
  min-width: 250px;
  color: #fcda2e;
  background: #000;
  margin-top: 20px;
  border: none;
}

.contact-form .btn-primary:hover {
  color: #fff;
}

.contact-form .btn-primary i {
  margin-right: 5px;
}

.contact-form label {
  opacity: 0.9;
}

.contact-form textarea {
  resize: vertical;
}

.bs-example {
  margin: 20px;
}
